<h1>Order #<%= @order.id %></h1>

<table class='table'>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><strong><%= item.product.name %></strong></td>
      <td><%= cents_to_dollars item.product.price %></td>
      <td>x</td>
      <td><%= item.quantity %> </td>
      <td>=</td>
      <td><%= cents_to_dollars item.total %></td>
    </tr>
  <% end %>
</table>

<h3>Total: <%= cents_to_dollars @order.total %></h3>
